body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.result {
  padding: 15px;
  overflow: hidden;
  background-color: rgb(236, 236, 236);
  border-radius: 12px;
}

.result button {
  float: right;
}

mark { 
  background-color: rgb(236, 236, 236);
  margin-left: 5px;
  margin-right: 15px;
  font: 1rem Inconsolata, monospace;
}

.result-text {
  font: 1rem Inconsolata, monospace;
}

.nav-description {
  float: right;
}
